/* 
    Document   : feisbun
    Created on : 17-dic-2012, 1:19:45
    Author     : Omar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: white;
    background-color: #F7F7F7;
}
.navbar{
    width: 101%;
    height: 60px;
    position: fixed;
    margin: -8px;
    background-color: #3B5998;
}
.navbar a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}
.navbar-container, .page{
    width: 900px;
    margin: 0 auto 0 auto;
}
.barraAdmin {
    width: 101%;
    height: 30px;
    position: fixed;
    top:60px;
    margin: -8px;
    background-color: #0B4C5F;
}
.barraAdmin a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}
.imagelogo{
    background-image: url("../images/feisbun-logo.png");
    width: 111px;
    height: 50px;
    margin-right: 300px;
}
.welcome,.logout{
    float: left;
    margin-left: 30px;
}
.button{
    color: white;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.fakebutton{
    background-color: white;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.signout{
    border: 1px #9a0000 dashed;
    background-color: #9a0000;
}
.post{
    border: 1px #3B5998 dashed;
    background-color: #3B5998;
    height: 30px;
}
.request{
    border: 1px #3B5998 dashed;
    background-color: #3B5998;
    height: 50px;
}
.page{
    height:auto;
    color: darkslategray;
}
.requests{
    background-color: white;
    color: #3B5998;
    position: fixed;
    left: 20px;
    width: 150px;
}
.borderbox{
    border: 1px solid darkslategray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.comment-form p{
    font-weight: 500;
    font-size: 1.1em;
    margin: 0;
}
.postcomment{
    width: 800px;
    margin: 0 auto 0 auto;
}
#comment-textarea{
    width: 700px;
    margin: 0 auto 0 auto;
}
.comment{
    background-color: white;
    width: 800px;
    margin: 25px auto 25px auto;
}
.comment-info{
    color: #3B5998;
}
.sender{
    font-weight: bold;
}
.notification{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}
.post-error{
    color:red;
    border: 1px red dotted;
}
.post-success{
    color:blue;
    border: 1px blue dotted;
}
.contacts{
    width: 200px;
    background-color: white;
    color: #3B5998;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.contact-entry img{
    margin-left: 10px;
}
