/* 
    Document   : feisbun
    Created on : 17-dic-2012, 1:19:45
    Author     : Omar
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: white;
    background-color: #F7F7F7;
}
.navbar{
    width: 101%;
    height: 60px;
    position: fixed;
    margin: -8px;
    background-color: #3B5998;
}
.navbar-container{
    width: 900px;
    margin: 0 auto 0 auto;
}
.imagelogo{
    background-image: url("../images/feisbun-logo.png");
    width: 111px;
    height: 50px;
}
.welcome,.logout{
    float: left;
}
.button{
    border: 1px #9a0000 dashed;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.signout{
    background-color: #9a0000;
}